header  {
    background-color: ##ffffff;
  }
  h1 {
  <style>
body {
    background-color: #4aaaa5;
  }
  h1 {
    text-align: center;
  }
  h2 {
    color: black;
  }
  p1 {
    color: red;}
  p2 {
    color: blue;
  }
  p3 {
    color: green;
  }
  p4 {
    font-size: 2em;
  }
  p5 {
    font-size: .5em;
  }
.centertext {
    text-align: center;
      }
      
    p7 {
        font-weight: bold;
              }
    p8 { 
      font-family: Arial;
    }
    p9 {
        font-weight:bold; 
        color: green;
              }

.styledFont1 {
              color: blueviolet; 
              font-style: italic;
            }
.styledFont2 {
              color: rgb(199, 187, 187); 
              font-style: oblique;
            }
.styledFont3 {
                color: brown; 
                font-weight: bold;
              }
.styledFont4 {
                color: pink; 
                font-variant: small-caps;
              }
.styledFont5 {
                color: peru; 
                font-variant: normal;
              }
.styledFont6 {
                color: purple; 
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              }
#styledImage { 
               border-style: solid;
              }
 <hr>

              </body>
              </html>
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 height 960;
 color: #000;
 background: #fff;
  html, body, p, th, td, li, dd, dt {
 font: 1em Arial, Helvetica, sans-serif;
 }
 h1 { font-size: 2em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }
